table {
  width: 80%;
  margin: 5px auto;
}
.mat-paginator {
  width: 80%;
  margin: 0 auto;
}





.ng-container {
  padding: 5px;
}


.formField {
  width: 77%;
  /* margin: 10px auto; */
  margin-left: 10px;
}

.search {
  width: 80%;
  color: purple;
  margin: 10px auto;
}

.mat-mini-fab {
  margin-left: 130px;
}

.Logo{
  width:50px ;
  height: 50px;
  border-radius: 100%;
}
td{
  margin-bottom: 20px;
}