
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
         <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
            [icon]="'exit_to_app'" 
            [title]="'Change Password'" 
            [hideBreadcrumb]="true"
            [hasBgImage]="true" 
            [class]="'py-4'"></app-content-header>
                  <div *ngIf="bnsPasswordAndConfirmPasswordMismatch" >
                        <mat-error style="text-align: center">Password and confirm Password must be match</mat-error>
                    </div> 
                  <div *ngIf="bnsInvalidOldPassword" >
                      <mat-error style="text-align: center">Enter Valid Old Password</mat-error>
                  </div>        
              <div class="p-3">
                      <mat-form-field class="w-100">
                              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color" aria-readonly="true">lock</mat-icon>
                              <input matInput placeholder="Email Id" formControlName="emailId" type="email" readonly>
                          </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                      <input matInput placeholder="Old Password" formControlName="oldpassword" type="password">
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                      <input matInput placeholder="New Password" formControlName="password" type="password">
                      <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                      <mat-error *ngIf="form.controls.password.errors?.minlength">Password isn't long enough, minimum of 8 characters</mat-error>
                      <mat-error *ngIf="form.controls.password.hasError('pattern')">Password consist of 1 lowercase 1 uppercase 1 digit and 1 special character</mat-error>
                  </mat-form-field> 
                  <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Confirm Password" formControlName="confirmpassword" type="password">
                    <mat-error *ngIf="form.controls.confirmpassword.errors?.required">Confirm Password is required</mat-error>
                    <mat-error *ngIf="form.controls.confirmpassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                </mat-form-field> 
               
                                 
                  
                  
              </div>
          </form>
    </div>
  
  
        