<div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
        <mat-card class="p-0 gradient-purple">
            <div class="py-2 px-3" fxLayoutAlign="space-between center">
                <h2>No of Hotels</h2>

            </div>
            <div class="w-100 h-100p"> <br>
                <h1>{{bnsNumberOfHotels}}</h1>
            </div>
        </mat-card>
    </div>
    <!--<div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2"> 
        <mat-card class="p-0 gradient-teal">
            <div class="py-2 px-3" fxLayoutAlign="space-between center">
                <h2>Demo Request</h2>
            </div>          
            <div class="w-100 h-100p"><br>
                 <h1>&nbsp;&nbsp;10</h1>
            </div>
        </mat-card>
    </div> -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
        <mat-card class="p-0 gradient-indigo">
            <div class="py-2 px-3" fxLayoutAlign="space-between center">
                <h2>No of Packages</h2>
            </div>
            <div class="w-100 h-100p"> <br>
                <h1>{{bnsNumberOfPackages}}</h1>
            </div>
        </mat-card>
    </div>
</div>