<app-content-header [title]="'Edit Packages'" [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-5'">
</app-content-header>
<div fxLayout="column" class="p-2">
  <div class="p-2">
    <mat-card>
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>Edit Package</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <hr>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <form [formGroup]="EditpackageForm" (ngSubmit)="onedit()" class="example-form">
          <mat-form-field>
            <mat-label>Package Type</mat-label>
            <mat-select formControlName="sub_type">
              <mat-option *ngFor="let item of packageType" [value]=" item.sub_type_id ">
                {{ item.sub_type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="EditpackageForm.get('sub_type').hasError('required')">Please choose package type
            </mat-error>
            <mat-hint>{{
              EditpackageForm.get("sub_type").value?.sound
            }}</mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Package Name" required formControlName="subscription" />
            <mat-error *ngIf="EditpackageForm.get('subscription').hasError('required')">name is required</mat-error>
            <mat-hint>{{
                EditpackageForm.get("subscription").value?.sound
              }}</mat-hint>
          </mat-form-field>
          <br />
          
              <h4>Select Service</h4>
              <!-- <section class="example-section" formArrayName="all_service"
                  *ngFor="let item of service.controls;let i= index">
                  <mat-checkbox class="example-margin" (change)="servicecheckbox(hotelServiceArray[i].service_id)"
                    formControlName="{{i}}" value="{{hotelServiceArray[i].service_id}}">
                    {{hotelServiceArray[i].service_name}}
                  </mat-checkbox>
                </section> -->

              <section formArrayName="all_service" *ngFor="let item of service.controls;let i= index">
                <div *ngIf="i%2==0 && i<service.controls.length" class="container" fxLayout="row" fxLayout.xs="column"
                  fxLayoutWrap fxLayoutGap=".35%" fxLayoutAlign="right">
                  <div fxFlex="58%">
                    <mat-checkbox class="example-margin" formControlName="{{i}}"
                      value="{{hotelServiceArray[i].service_id}}" >{{hotelServiceArray[i].service_name}}
                    </mat-checkbox>
                  </div>
                  <div fxFlex="58%">
                    <mat-checkbox *ngIf="i+1<service.controls.length" class="example-margin" formControlName="{{i+1}}"
                      value="{{hotelServiceArray[i+1].service_id}}">
                      {{hotelServiceArray[i+1].service_name}}</mat-checkbox>
                  </div>
                </div>
              </section>







          <mat-form-field class="example-full-width">
            <input matInput placeholder="Payable Amount" required formControlName="payable_amt" type="number" />
            <mat-error *ngIf="EditpackageForm.get('payable_amt').hasError('required')">amount is required</mat-error>
            <mat-hint>{{
              EditpackageForm.get("payable_amt").value?.sound
            }}</mat-hint>
          </mat-form-field>

          <br />
          <button type="submit" mat-raised-button color="primary">Edit</button>
          <button class="float-right" mat-raised-button color="primary" (click)="backToPackage()">Back</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>