table {
  width: 90%;
  margin: 5px auto;
}
.mat-paginator {
  width: 90%;
  margin: 0 auto;
}

.mat-button {
  margin-left: 200px;
}
.search {
  width: 80%;
  color: purple;
  margin: 10px auto;
}
.add
{
  margin-left: 10px;
}
.ng-container {
  padding: 5px;
}

.filterclass {
  margin-left: 80px;
}
