
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
         <app-content-header 
         [icon]="'exit_to_app'" 
         [title]="'Edit Profile'" 
         [hideBreadcrumb]="true"
         [hasBgImage]="true" 
         [class]="'py-4'"></app-content-header>
         <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
            <input matInput placeholder="First Name" formControlName="firstname">
            <mat-error *ngIf="form.controls.firstname.errors?.required">First Name is required</mat-error>
            <mat-error *ngIf="form.controls.firstname.hasError('minlength')">First Name isn't long enough, minimum of 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
            <input matInput placeholder="last Name" formControlName="lastname">
            <mat-error *ngIf="form.controls.lastname.errors?.required"> Last is required</mat-error>
            <mat-error *ngIf="form.controls.lastname.hasError('minlength')">Last Name isn't long enough, minimum of 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
            <input matInput placeholder="Email" formControlName="emailId">
            <mat-error *ngIf="form.controls.emailId.errors?.required">Email is required</mat-error>

            <mat-error *ngIf="form.controls.emailId.hasError('email')">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">call</mat-icon>
            <input matInput placeholder="contact number" formControlName="contactno">
            <mat-error *ngIf="form.controls.contactno.errors?.required">contact No is required</mat-error>
            <mat-error *ngIf="form.controls.contactno.errors?.minlength">contact should be of  10  digit</mat-error>
            <mat-error *ngIf="form.controls.contactno.errors?.maxlength">contact should be of  10  digit</mat-error>
        </mat-form-field>
        <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">image</mat-icon>
        <input mat-file-upload type="file" formControlName="uploadFile" (change)="onprofileSelected($event)">
        <img [src]="imgURL" *ngIf="select" height="70px" width="70px">
        <img src="http://localhost:3000/images/profile/{{profile_pathTemp}}" *ngIf="!select" height="70px" width="70px">
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <div class="mt-3">
            <button mat-raised-button color="primary" [disabled]="!form.valid || message" class="mat-elevation-z6 mx1 mat-raised-button mat-primary" type="submit" >Change</button>
            <button class="mat-elevation-z6 mx1 mat-raised-button mat-primary" color="primary" mat-raised-button type="button" ng-reflect-color="primary" (click)="goHome()">Go Home</button>
    </div>

                       
         </form>  
 </div>


     
